* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(78, 118, 226);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(66, 38, 38);
}
h1
{
    font-size: 2em;
    color: rgb(70, 56, 56);
}
h2
{
    font-size: 1,5em;
    color: rgb(70, 66, 62);
}

img.lado {
    float:right;
}
a 
{
    text-decoration:none ;
    font-weight: bold ;
    color:rgb(78, 173, 50);
}